.card-new-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-form {
  display: flex;
  flex-direction: column;
  align-items: center;
 /*  width: 300px;
  height: 200px; */
  background-color:white;
 /*  padding: 20px; */
}

.input-card-name-form {
  background: none;
  background-color: white;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #000;
  margin: 25px 0px 5px 0px;
}

.card-palette-name-form:focus {
  outline: none;
}

.btn-form {
height: 30px;
background-color: #ded5e6;

}